form.order-consultation(id="order-consultation-form", action="mailto:spavel.hjk@mail.ru", method="post", enctype="text/plain")
  img.order-consultation__image(src="./img/consultation.png", alt="Error")
  .wrapper.order-consultation__wrapper
    .order-consultation__container
      .title.order-consultation__title Давайте обсудим ваш следующий проект
      .order-consultation__inputs
        input.input.order-consultation__input(type="text", placeholder="+ 7 777 2112121", name="phone")
        input.input.order-consultation__input(type="email", placeholder="example@mail.ru", name="email")
        input.input.order-consultation__input(type="text", placeholder="Пр. Абая 28, “Пекарня”", name="address")
      button.button.order-consultation__button(type="submit") Оставить заявку
