header.header
  .wrapper.header__wrapper
    img.header__logo(src="./img/logo-sova.svg", alt="")
    .header__menu
      li.header__menu-item
        a.header__menu-link(href="#") Услуги
      li.header__menu-item
        a.header__menu-link(href="#") Как мы работаем?
      li.header__menu-item
        a.header__menu-link(href="#") Пакеты
      li.header__menu-item
        a.header__menu-link(href="#") Партнёры
      li.header__menu-item
        a.header__menu-link(href="#") О нас