.header {
  position: relative;
  z-index: 100;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__menu {
    display: flex;
    align-items: center;

    &-item {
      display: inline-flex;
      margin-right: 80px;
    } 
  
    &-link {
      font-size: 22px;
      color: white;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
}