.splash-screen
  .wrapper.splash-screen__wrapper
    .splash-screen__content
      img.splash-screen__logo(src="./img/digital-logo.png", alt="")
      .splash-screen__title Агентство Çava.Group
      button.button.splash-screen__button Оставить заявку

    .splash-screen__circle
      .splash-screen__circle-wrapper
        img.splash-screen__circle-icon(src="./img/splash-screen-statuette.png", alt="")