.service-block {
  position: relative;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: rgba(141, 196, 247, 0.5);

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    height: 0;
    width: 0;
    border: 20px solid rgba(141, 196, 247, 0.5);
    border-right-width: 110vw;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-width: 0;
    background-color: transparent;
  }

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: -40px;
    border: 20px solid rgba(200,255,228,0.5);
    border-right-width: 110vw;
    border-top-color: rgba(141,196,247,0.5);
    border-right-color: rgba(141,196,247,0.5);
    border-left-width: 0;
    background-color: transparent;
  }

  &__services {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__service-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 33%;
  }

  &__service {
    margin-right: auto;
    margin-left: auto;
    width: 215px;
    height: 215px;
  }
}

.principles {
  padding-top: 100px;
  background: $Aeroblue;
  position: relative;
  background-color: rgba(200, 255, 228, 0.5);

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-left: 10%;
    margin-bottom: 200px;
    max-width: 670px;
  }

  &__item {
    position: absolute;

    &--1 {
      top: 24%;
      right: 2%;
    }

    &--2 {
      top: 31.5%;
      right: 29.5%;
    }

    &--3 {
      top: 34%;
      left: 30.5%;
    }

    &--4 {
      top: 37%;
      left: 0.5%;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.rate-block {
  position: relative;
  margin-bottom: 90px;
  padding-top: 125px;
  padding-bottom: 10px;
  background-color: rgba(242, 220, 23, 0.5);

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -90px;
    border: 45px solid rgba(242,220,23,0.5);
    border-right-width: 60vw;
    border-top-color: 20px solid rgba(242,220,23,0.5);
    border-bottom-color: rgba(141,196,247,0.5);
    border-left-color: rgba(141,196,247,0.5);
    border-left-width: 0;
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -90px;
    width: 40vw;
    height: 90px;
    background-color: rgba(242, 220, 23, 0.5);
  }

  &__wrapper {
    position: relative;
    text-align: center;
  }

  &__title {
    text-align: left;
  }

  &__content {
    margin-top: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;;
    position: relative;
    z-index: 2;
  }

  &__rates {
    display: inline-flex;
    justify-content: center;
  }

  &__image {
    position: absolute;
    bottom: -86px;
    right: 63%;
    z-index: 1;
    width: 55%;
    transform: rotate(-1deg);
  }
  
  &__button {
    margin-top: 70px;
    margin-left: auto;
  }
}

.benefits {
  position: relative;
  z-index: 1;
  margin-bottom: 199px;
  background-color: rgba(141, 196, 247, 0.5);

  &::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -199px;
    border: 50px solid rgba(231,99,115,0.5);
    border-left-width: 0;
    border-top-color: rgba(141,196,247,0.5);
    border-right-width: 50vw;
    border-bottom-color: rgba(231,99,115,0.5);
    border-left-color: rgba(231,99,115,0.5);
    box-shadow: 0 -99px 0 0 rgba(141,196,247,0.5);
    background-color: transparent;
  }

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    bottom: -199px;
    border: 100px solid rgba(231,99,115,0.5);
    border-left-width: 0;
    border-top-color: rgba(141,196,247,0.5);
    border-right-width: 50vw;
    border-bottom-color: rgba(231,99,115,0.5);
    border-left-color: rgba(231,99,115,0.5);
    background-color: transparent;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: left;
    font-size: 96px;
    padding-top: 60px;
    margin-bottom: 90px;
  }

  &__benefit {
    max-width: 880px;
    width: 70%;
  }

  &__image {
    position: absolute;
    right: 2%;
    bottom: -55px;
    z-index: -1;
    transform: rotate(1deg);
    height: 595px;
  }
}

.partners-block {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
  padding-top: 35px;
  padding-bottom: 225px;
  background-color: rgba(231, 99, 115, 0.5);
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -120px;
    height: 0;
    width: 0;
    border: 60px solid rgba(243,243,243,0.5);
    border-right-width: 0;
    border-top-color: rgba(243,243,243,0.5);
    border-left-width: 100vw;
    border-bottom-color: rgba(243,243,243,0.5);
    border-top-color: rgba(231,99,115,0.5);
    background-color: transparent;
  }

  &__content {
    margin-top: -75px;
  }

  &__image {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -70px;
  }
}

.rectangle {
  display: flex;
  justify-content: center;
  z-index: 3;
  position: relative;
  padding: 55px;
  height: 100px;
  background-color: white;

  &__link{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: $Silver;

    &:first-child {
      margin-right: 34px;
    }
  }
}
