div.rate(class="rate--" + rate.color)
  .rate__wrapper
    span.rate__name= rate.name
    div.rate__line
    div.rate__align
      p.rate__description= rate.description
    div.rate__line--bottom
    span.rate__target= rate.target