.rate {
  font-family: "Geometos";
  display: inline-block;
  position: relative;
  margin-right: 3px;
  padding: 15px;
  width: 300px;
  height: 400px;
  border-radius: 10%;
  background-color:  $Malibu;

  &:last-of-type {
    margin-right: 0;
  }

  &--yellow {
    background-color: $RipeLemon;
  }
  
  &--black {
    background-color: $Firefly;

    .rate {
      &__name,
      &__description,
      &__target {
        color: white;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: black;
  }

  &__name {
    font-size: 40px;
    text-transform: uppercase;
  }

  &__line {
    width: 330px;
    border-bottom: 1px solid white;

    &--bottom {
      width: 330px;
      border-bottom: 1px solid white;
      position: absolute;
      top: 358px;
    }
  }

  &__align {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
    font-size: 18px;
  }

  &__description {
    margin-bottom: 25px;
    white-space: pre-line;
  }

  &__target {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}
